*.bak

*.rpt

*.done

*.summary

*.jdi

*.pin

*.qsf

*.sof

*.html

*.sopcinfo

*.bsf

*.txt

*.qpf

.qsys_edit

ubcmcld
system
incremental_db

db/

obj/

.force_relink

.project

.settings/

*.properties

.sopc_builder/

*.objdump

Makefile
.cproject
!src/
*.qws
Pathfinder_BSP/
obj/
*.objdump
*.elf
!*.c
!*.h
!*.java
*.db
.DS_Store
*.map